
  <div class = "Container">
      
  
  <h2><b>Admission Form</b></h2>
  <form>
    <div class ="form-group">
      <label><b>Name:</b> </label>
      <input type ="text" class="form-control" placeholder="Enter Full Name..">
    </div><br>
    <div class ="form-group">
      <label><b>Email:</b></label>
      <input type="email" class="form-control" placeholder="Enter Email..">
    </div><br>
    <div class ="form-group">
      <label><b>Contact No.:</b></label>
    <input type ="tel" class ="form-control" placeholder="Enter digits">
  </div><br>
  
 <div class ="form-group">
    <select name="branch">
      <option value="E&TC">E&TC</option>
      <option value="IT">IT</option>
      <option value="CS">CS</option>
      <option value="MECH">MECH</option>
    </select>
  </div><br>
  <div class ="form-group">
    <label><b>Select shift</b></label>
    <div class ="form-check">
      <input class ="form-check-input" type = "radio" name = "select shift" value = "morning">
<label class = "form-check-label">Morning(8am-1pm)</label>
    </div>

    <div class ="form-check">
        <input class ="form-check-input" type = "radio" name = "select shift" value = "evening">
  <label class = "form-check-label">Evening(1pm-6pm)</label>
      </div><br>
      <div class="col-md-1">
      <button class ="btn btn-primary" type = "submit">submit</button>
     </div>
     <button class ="btn btn-primary" type = "cancel">Cancel</button>
  </div>

  </form>
</div>
